<script lang="ts">
	import { applyAction, enhance } from '$app/forms';
	import { invalidateAll } from '$app/navigation';
	import { page } from '$app/stores';

	import '../styles/app.css';

	function rerun() {
		// @ts-ignore
		return async ({ result }) => {
			invalidateAll();

			await applyAction(result);
		};
	}
</script>

<svelte:head>
	<title>SvelteKit Auth</title>
</svelte:head>

<nav class="container">
	<ul>
		{#if !$page.data.user}
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/login">Login</a>
			</li>

			<li>
				<a href="/register">Register</a>
			</li>
		{/if}

		{#if $page.data.user}
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/admin">Admin</a>
			</li>

			<form action="/logout" method="POST" use:enhance={rerun}>
				<button type="submit" role="link">Log out</button>
			</form>
		{/if}
	</ul>
</nav>

<main class="container">
	<slot />
</main>

<style>
	ul {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	form,
	button {
		margin: 0;
		border: none;
	}

	form,
	button:hover {
		background: transparent;
	}
</style>
