<script lang="ts">
	import { applyAction, enhance } from '$app/forms';
	import { invalidateAll } from '$app/navigation';
	import type { ActionData } from '.$types';

	export let form: ActionData;

	function rerun() {
		// @ts-ignore
		return async ({ result }) => {
			invalidateAll();

			await applyAction(result);
		};
	}
</script>

<svelte:head>
	<title>Login</title>
</svelte:head>

<h1>Login</h1>

<form action="?/login" method="POST" use:enhance={rerun}>
	<div>
		<label for="username">Username</label>
		<input type="text" id="username" name="username" required />
	</div>

	<div>
		<label for="password">Password</label>
		<input type="password" id="password" name="password" required />
	</div>

	{#if form?.invalid}
		<p class="error">Username and password is required.</p>
	{/if}

	{#if form?.credentials}
		<p class="error">You have entered the wrong credentials.</p>
	{/if}

	<button type="submit">Log in</button>
</form>
